
#container{
background-color: rgba(129, 216, 168, 0.876);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


header{
    background-color: rgb(40, 100, 97);
    width: 100%;
    padding-top: 10px;
     
}

header h1{
    color: rgb(176, 206, 193);
    text-align: center;
}
header form{
    padding:30px ;
    display: flex;
    justify-content: center;
   
    
}
header form input{

    border: 3px solid slategrey li;
    
}

header form button{

    
    width: 100px;
    height: 50px;
   
}



div:first-child form select{

    margin: 20px;
    
}

div:first-child form input{
   margin: 20px; }

#tareasPending div{
    display: flex ;
    justify-content: center;
    border:1px solid rgb(40, 100, 97);
    
}
#tareasPending button{
    width: 50%;
    background-color:rgb(40, 100, 97) ;
    color:white;   
    font-size: 1.2em; 
    
}
 #tareasPending h2{
    padding: 10px;
    width: 80%;
    height: 50px;
    color: black;
    
}